body.logged-in { margin-bottom: 52px; }

a[disabled] {
  pointer-events: none;
}

.content figure {
  margin: 0 !important;
  margin-bottom: 1em !important;
}

// Overbodig?
.cover-link {
  display: block;
  opacity: 0.9;
  text-decoration: none;
  color: $text;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}

.columns,
.columns:last-child { margin: 0; }

.navbar-burger { margin-left: 0 !important; }

.text-has-shadow {
  text-shadow: 2px 2px 4px #000000;
}
