/*Variables and mixins declared here will be available in all other SCSS files */
/*Variables and mixins declared here will be available in all other SCSS files */
$primary: #f3750a;
$secondary: #ffd800 !default;
$danger: #e62d2b;
$warning: #eb621c;
$success: #92c138;
$calm: #63bda1 !default;
$info: #40c0f0;
$light: #fcf1ce;
$dark: #343a40;

/** Link colors */
$link: $primary;

/** Box Model */
$spacer: 2rem;

/** Backgrounds */
$body-background-color: $light;
$body-color: $dark;

/*https://github.com/jgthms/bulma/issues/1293 */

$body-overflow-y: auto;
